<%- include ('layout/header') %>
<div>
  <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">
    Welcome to the CRUD App
  </h1>
  <p class="text-center text-gray-600 mt-2">
    This is a simple CRUD app built with Node.js, Express.js, and mongoDB.
  </p>
  <div class="flex justify-center">
    <div class="w-1/2 bg-white shadow-lg rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="text-3xl text-center font-bold text-gray-900 mt-8">
        Add User
      </h1>

      <form
        action="/add"
        method="POST"
        id="addUserForm"
        enctype="multipart/form-data"
      >
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
            Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="name"
            type="text"
            placeholder="Name"
            name="name"
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="email"
            type="email"
            placeholder="Email"
            name="email"
          />
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">
            Phone
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="phone"
            type="phone"
            placeholder="Phone"
            name="phone"
          />
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="image">
            Image
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="image"
            type="file"
            placeholder="Image"
            name="image"
            value="image"
          />
        </div>

        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline -none focus:shadow-outline w-full"
            type="submit"
          >
            Add User
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
