<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.js"
      integrity="sha512-Y9Uk9SbwwPXkLHrtpS/aoD0SjErNdsy5EDhW8roeCDg6EBPxmvLbTUGZCvmG2xTyDlGiGLYqGv0953K8+5MgXA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.12.0/toastify.js" integrity="sha512-ZHzbWDQKpcZxIT9l5KhcnwQTidZFzwK/c7gpUUsFvGjEsxPusdUCyFxjjpc7e/Wj7vLhfMujNx7COwOmzbn+2w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <nav class="bg-gray-700 dark:bg-gray-700 h-16">
      <div class="max-w-screen-xl px-4 py-3 mx-auto text-white">
        <div class="flex items-center">
          <ul class="flex flex-row font-medium mt-2 mr-6 space-x-8 text-sm">
            <li>
              <span class="mr-2 text-white dark:text-white">
                <i class="fas fa-home"></i>
              </span>

              <a
                href="/"
                class="text-white dark:text-white hover:underline"
                aria-current="page"
                >Home
              </a>
            </li>
            <li>
              <span class="mr-2 text-white dark:text-white">
                <i class="fas fa-user"></i>
              </span>
              <a href="/Add" class="text-white dark:text-white hover:underline"
                >AddUsers</a
              >
            </li>
            <li>
              <span class="mr-2 text-white dark:text-white">
                <i class="fas fa-info-circle"></i>
              </span>
              <a href="/about" class="text-white dark:text-white hover:underline"
                >About</a
              >
            </li>
            <li>
              <span class="mr-2 text-white dark:text-white">
                <i class="fas fa-envelope"></i>
              <a href="#" class="text-white dark:text-white hover:underline"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
